@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(253, 113, 113);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  background-color: rgb(197, 20, 156);
}
.h12{
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.pt{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 2rem;
}
h2{
  display: inline-block;
}
.btn {
  width: 10rem;
  height: 3rem;
  margin: 3rem 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000000;
  background: rgb(87, 245, 121);
  color: #000000;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
td{
  padding: 15px;
}
tr{
  padding: 5px;
  border: 0.1rem solid rgb(166, 166, 166);
}
table{
  border: 0.1rem solid rgb(166, 166, 166);
  border-radius: 10px;
}
.center{
  position: relative;
  left: 40%;
  margin-top: 100px;
}